# Common
.idea
.vscode
.vercel
.DS_Store*
Icon?
*.log
*.ai
*.gulp
*.psd
*.zip
*.sublime*
Thumbs.db
Desktop.ini
ehthumbs.db
.firebase
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

# SEO
/public/*.xml
/public/*.yml
/public/*.txt
!/public/robots.txt
/public/.htaccess*
/public/.htpasswd*
/public/yandex*.html
/public/google*.html
/public/cmsmagazine*.html
/public/pinterest*.html

# Backend
/vendor
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
composer.*
!/composer.json
!/composer.lock
test.php
old/
/_ide_helper_models.php
/_ide_helper.php
/.phpstorm.meta.php
/cms

# Frontend
/node_modules
/public
npm-debug.log
yarn-error.log
